---
import { css } from '../../styled-system/css';

interface Props {
  title: string;
  id: string;
  class?: string;
}

const { title, id, class: className } = Astro.props;
---

<section {id} class={className}>
  <h4 class={css({ fontSize: 'lg', color: 'primary', fontWeight: 'bold' })}>
    {title}
  </h4>
  <slot />
</section>
