---
import { css } from '../../styled-system/css';

interface Props {
  tasks: string[];
}

const { tasks } = Astro.props;
---

<ul>
  {
    tasks.map((task) => (
      <li class={css({ fontSize: 'sm', color: 'text-secondary' })}>- {task}</li>
    ))
  }
</ul>
