---
import { css } from '../../styled-system/css';

interface Props {
  tasks: string[];
}

const { tasks } = Astro.props;
---

<ul>
  {
    tasks.map((task) => (
      <li class={css({ fontSize: '0.65rem', color: 'text-secondary' })}>
        - {task}
      </li>
    ))
  }
</ul>
